@font-face {
    font-family: Corbert;
    src: url(../fonts/Corbert-Regular.woff);
}
@font-face {
    font-family: KelsonSansRegular;
    src: url(../fonts/KelsonSansRegular.woff);
}

#menu{
	width: 100%;
	height: 65px;
	background: white;
	border-bottom: 1px solid rgba(138, 138, 138, 0.3);
	position: fixed;
	z-index: 10000;
}
#menu ul{
	position: absolute;
	right: 7%;
}
#menu ul li{
	list-style-type: none;
}
#menu  li:nth-child(odd){
	display: inline-block;
	min-width: 75px;
	height: 65px;
	background: black;
	text-align: center;
	padding-top: 40px;
	font-family: Corbert;
	text-transform: uppercase;

}
#menu li:nth-child(even){
	display: inline-block;
	min-width: 75px;
	height: 65px;
	background: white;
	text-align: center;
	padding-top: 40px;
	border-bottom: 1px solid rgba(138, 138, 138, 0.3);
	font-family: Corbert;
	text-transform: uppercase;
	
}
#menu ul li:nth-child(odd) a{
	color: white;
}
#menu ul li:nth-child(even) a{
	color: black;
}
#menu ul li:nth-child(odd):hover{
	text-transform: uppercase;
	font-family: Corbert;
	border-bottom: 4px solid white;
}
#menu ul li:nth-child(even):hover{
	text-transform: uppercase;
	font-family: Corbert;
	border-bottom: 4px solid black;
}
@media screen and (max-width: 770px) {
   #menu ul{
   	display: none;
   }
   #menu_mobile{
   	width: 100%;
   	height: 100%;
   	background: rgba(123,123,123,0.8);
   	position: fixed;
   	z-index: 10000;
   	display: none;
   }
   #menu_mobile ul{
   	position: absolute;
   	left: 0;
   	right: 0;
   	margin:0 auto;
   	margin-top: 70px;
   	text-decoration: none;
   	list-style-type: none;
   }
   #menu_mobile li:nth-child(odd) a{
   	margin-top: 40px;
   	width: 80%;
   	height: 25px;
   	background-color: black;
   	color: white;
   	font-family: Corbert;
	text-transform: uppercase;
	padding: 5px;
	font-size: 30px;
	list-style-type: none;
   }
   #menu_mobile li:nth-child(even) a{
   	margin-top: 40px;
   	width: 80%;
   	height: 25px;
   	background-color: white;
   	color: black;
   	font-family: Corbert;
	text-transform: uppercase;
	padding: 5px;
	font-size: 30px;
	list-style-type: none;
   }
   #menu_mobile_close{
   	width: 40px;
   	height: 40px;
   	background: url('../img/delete-cross.png');
   	background-size:40px 40px; 
   	position: absolute;
   	top: 10px;
   	right:10px;
   	display: none;
   }
   #menu_mobile_open{
   	width: 40px;
   	height: 40px;
   	background: url('../img/open.png');
   	background-size:40px 40px; 
   	position: absolute;
   	top: 10px;
   	right:10px;
   }
}

#logo{
	position: absolute;
	left:8%;
}
#content{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: auto;
	margin:0 auto;
	top:100px;
	left:0;
	right: 0;
}
p.akapit{
	font-size: 33px;
	font-family: 'Francois One', sans-serif;
	color: #707070;
}
.arrow{
	margin-top: 7px;
	width: 30px;
	height: 30px;
	background-image: url('../img/arrow.png');
	background-size: 30px;
	float: left;
	margin-right: 10px;
}
.arrow_down{
	margin-top: 7px;
	width: 30px;
	height: 30px;
	background-image: url('../img/arrow_down.png');
	background-size: 30px;
	float: left;
	margin-right: 10px;
}
p.tekst_1{
	font-size: 25px;
	font-family: Corbert;
	font-weight: 50;
	color: #a1a1a1;
}
.baner{
	float: left;
	width: 100%;
	height: 280px;
	background: no-repeat center;
	 -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     background-size:auto 100%;
	border-top: 1px solid rgba(138, 138, 138, 0.3);
	border-bottom: 1px solid rgba(138, 138, 138, 0.3);
}
.info{
	width: 100%;
	height: 140px;
	background: rgba(138, 138,138, 0.4);
	padding-top: 20px;
	color: white;
	font-size: 30px;
	text-align: center;
	font-weight: 600;
}
.info2{
	width: 100%;
	height: 140px;
	background: rgba(138, 138,138, 0.4);
	padding-top: 20px;
	margin-top: 140px;
	color: white;
	font-size: 30px;
	text-align: center;
	font-weight: 600;
}
@media screen and (max-width: 770px) {
    .info,
    .info2,
    .baner{
      display: none;
    }
}
p.oferta{
	color: white;
	font-size: 24px;
	font-family: Josefin Sans;
}
.square_1{
	width:100%;
	height: 420px;
	background: white no-repeat center;
	 -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     background-size:auto 100%;
	margin-top: 50px;
	border: 1px solid rgba(138, 138, 138, 0.3);
}
.square_2{
	width:100%;
	height: 420px;
	background: black;
	margin-top: 50px;
	color: white;
	padding: 15px;
}
.button{
	position: absolute;
	width: 300px;
	height: 50px;
	border-top:1px solid rgba(138, 138, 138, 0.3);
	border-right:1px solid rgba(138, 138, 138, 0.3);
	border-bottom:1px solid rgba(138, 138, 138, 0.3);
	bottom: 0;
	font-size: 17px;
	text-align: center;
	padding-top: 10px;
	text-transform: uppercase;
	color: black;
	background-color:white;
}
.button:hover{
	background-color:black;
	color: white;
}
.nazwa{
	position: absolute;
	right: 50px;
	font-size: 23px;
	text-transform: uppercase;
	font-weight: bold;
}
hr.squer{
	margin-top: 30px;
}
p.cena{
	position: absolute;
	font-size: 15px;
	color: white;
	right: 45px;
	text-transform: uppercase;
	margin-top: 20px;
}
.pln{
	position: absolute;
	font-size: 48px;
	font-weight: bold;
	text-transform: uppercase;
	right: 40px;
	margin-top: 30px;
}
p.opis{
	position: absolute;
	right: 45px;
	margin-top: 90px;
	text-transform: uppercase;
	font-size: 15px;
}
.dane_techniczne{
	position: absolute;
	right: 40px;
	margin-top: 165px;
	text-align: right;
	text-transform: uppercase;
	font-size: 14px;
}
.cennik{
	margin-top: 250px;
	
}
p.cennikk{
	font-size: 15px;
	font-weight: bold;
	margin-top: -15px;
	padding-bottom: 7px;
	border-bottom: 0.1px solid rgba(255,255,255,0.4);
}
p.promocje_cennik{
	margin-top: -8px;
	border-bottom: 0.1px solid rgba(255,255,255,0.4);
	padding-bottom: 3px;
	text-transform:uppercase; 
}
span{
	position: absolute;
	right:35px;
	font-weight: bold;
}
footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background-color: black;
}
img.foto{
	opacity: 0.5;
    max-width: 250px;
    height: 150px;
    background-size: 100% 100%;
    margin-left: 5px;
    margin-top: 30px;
}

img.foto:hover{
opacity: 0.9;
}
td{
	width: auto;
	padding: 8px;
}
a p:hover{
	text-decoration: underline;
}

table.tg-yw4l{
	margin-top: 20px;
}
th.tg-yw4l{
	text-align: center;
	font-weight: normal;
}
td.tg-yw4l{
	text-align: center;
	font-weight: normal;
}
th.tg-yw4l:nth-child(odd){
	background-color: black;
	color: white;
}
td.tg-yw4l:nth-child(even){
	background-color: black;
	color: white;
}
th a{
	color: white;
}
th a:hover{
	color: white;
	text-decoration: underline;

}
.arrow_small{
	margin-top: 7px;
	width: 10px;
	height: 10px;
	background-image: url('../img/arrow.png');
	background-size: 10px;
	float: left;
	margin-right: 10px;
}
#pagination{
  margin-top: 40px;
  min-width: 300px;
  height: 60px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}
#pagination li{
  margin-top: 5px;
  width: 40px;
  height: 40px;
  padding-top: 7px;
  padding-bottom: 9px;
  padding-left: 9px;
  padding-right: 9px;
  border:1px solid grey;
  display: inline-block;
  list-style: none;
  margin-left: 7px;
  font-size: 18px;
  color: black;
}
#pagination li:hover{
  color: white;
  background-color: black;
}
#footer_img{
padding-top:20px;
text-align: center;

}
/*slider*/

.events {
  list-style: none;
  }

.callbacks_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
  }

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
  }

.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .8);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  }

.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url(".././img/themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.callbacks_nav:active {
  opacity: 1.0;
  }

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

#slider3-pager a {
  display: inline-block;
}

#slider3-pager img {
  float: left;
}

#slider3-pager .rslides_here a {
  background: transparent;
  box-shadow: 0 0 0 2px #666;
}

#slider3-pager a {
  padding: 0;
}

@media screen and (max-width: 600px) {
  h1 {
    font: 24px/50px "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  .callbacks_nav {
    top: 47%;
    }
  }
#error{
	position: fixed;
	width: 100%;
	height: 100%;
	background: white;
	z-index: 100000000;
}
#error_2{
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 450px;
	height: 300px;
}
